<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>ApartmentInformation</title>
=======
    <title>AssociationsApp</title>
>>>>>>> c47353e35b735a340283c8905c78584f1bfd622b
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>
=======
>>>>>>> c47353e35b735a340283c8905c78584f1bfd622b
    <%= yield %>
  </body>
</html>
